@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'morris-roman_black';
  src: local('morris-roman_black'), url(./fonts/morris-roman_black.ttf) format('truetype');
}

body {
  font-family: morris-roman_black
}